@charset "utf-8";
/* CSS Document */

#vegerigion{
    background-color:rgba(100,220,230,0.4);   
}
figcaption{
	background-color:lightyellow;
}


#explain{
	background-color:rgba(100,255,120,0.4);
}

