<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../bambooWeaving.css">


<!--
p.msg { color:red; }
-->
</style>
<title>エラー</title>
</head>
<body>

<p><b>エラーが発生しました。</b></p>
<p class="msg">!message!</p>

<form>
<input type="button" value="前画面に戻る" onclick="history.back()"> 
</form>

</body>
</html>
