<!doctype html>
<html>
<head>

<meta charset="utf-8">


<title>送信完了</title>
</head>
<body>

<p>ありがとうございました。</p>
<form>
<input type="button" value="トップへ戻る" onclick="location.href='!top!';">
</form>

</body>
</html>
