@charset "utf-8";
/* CSS Document */

table{
    margin:10px;
    width:800px;
    font-size:120%;
    border-collapse:separate;
    border-spacing:5px 15px;
}
th,td{
    border:1px solid #000;
    padding:13px;
    border:double;
}

/*table内色彩調整*/
th{
    background-color:#cdd;
}
tr:nth-child(2n){
    background-color:#eee;
}
tr:nth-child(2n+1){
    background-color:rgb(241, 236, 224);
}



